@import "tailwindcss";

@theme inline {
  --color-paps-navy: #272F59;
  --color-paps-steel: #399EBF;
  --color-paps-yellow: #FFC60A;
  --color-paps-orange: #F4991A;
  --font-sans: var(--font-montserrat);
}

body {
  background: #f9fafb;
  color: #272F59;
}
